__pycache__

.ruffus_history.sqlite

data_products/*.db

data_products/*.xz

data_products/*.png

data_products/*.jpg

data_products/*.pickle

data_products/*.csv


data_products/*.parquet

data_products/hmi_db_keywords.md

assets

pipeline/ALEXIS_04_compare_ss_swpc_and_alexis_pipeline.py
